html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: cadetblue;
}



#micek {
	position: absolute;
	top: 50%;
	left: 50%;
}

#panacek {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#myModal {
	display: block;
	
}
/* Modal Content */
.modal-content {
	text-align: center;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 20%;
	
  }
  
  /* The Close Button */
  #close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  